*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "Montserrat";
    color: white;
    padding-top: 2rem;
}

.group-form{
    text-align: center;
    margin: 2rem;
}

#city-input{
    width: 400px;
    height: 40px;
    padding: 5px;
    font-size: 1rem;
    outline: none;
    font-weight: 600;
    font-family: "Montserrat";
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}

#city-input:focus{
    border: 1px solid black;
}

.results{
    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: .3s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px black;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 30px 15px;
    max-height: 500px;

}

.results *{
    margin: 1rem 0;
}

.results #city-text{
    font-family: "Open Sans";
    font-size: 1.75rem;
    color: black;
    font-weight: 600;
}

.results #temperature-text{
    font-family: "Open Sans";
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.results #cloud-quantity-text{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    font-family: "Open Sans";
}

.results #min-temperature-text{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    font-family: "Open Sans";
}

.results #max-temperature-text{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    font-family: "Open Sans";
}

footer{
    font-size: 1rem;
    font-family: "Montserrat";
    color: white;
    position: absolute;
    bottom: 5px;
    right: 15px;
}

#consult-button{
    height: 40px;
    width: 150px;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "Montserrat";
    transition: 0.1s ease;
    background-color: rgb(75, 75, 168);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 6px solid rgb(47, 47, 145);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#consult-button:hover{
    border-bottom: 6px solid rgb(44, 44, 124);
    background-color: rgb(44, 44, 121);
}